@import "~bootstrap/scss/bootstrap.scss";

.content{
  padding: .4vw;
  margin: auto;
  width: 450px;
}
.tic-box{
  font-size: 100px;
  background: gray;
  text-align: center;
  color: lavender;
}

.row{
    margin-left: none;
  margin:0;
  height: 150px;
}
.tic-box:hover{
  background-color: lightslategrey;
}
/*
.tic-panel{
  
}




*/